
<div class="h15-custom bottom-margin-8">
  <%= @blog.title %>
</div>

<hr>

<%= image_tag @blog.image.url, class: "article-image" unless blog.image.blank? %>

<br>

<div class="">
  By: <strong><%= @blog.author %></strong>
</div>

<p>
  <%= raw(@blog.body) %>
</p>