
<div class="h15-custom bottom-margin-8">
  <%= @article.title %>
</div>

<hr>

<%= image_tag @article.image.url, class: "article-image" unless article.image.blank? %>

<br>

<div class="">
  By: <strong><%= @article.author %></strong>
</div>

<p>
  <%= raw(@article.body) %>
</p>