

<hr>
<div class="footer">
  <div style="font-weight:bold">
    <span class="dark-red"><i class="fa fa-copyright" aria-hidden="true"></i> <%= Date.today.year %> Addiction Team USA All Rights Reserved | </span>
    <span><%= link_to "Terms", terms_path %> | </span>
    <span><%= link_to "Privacy", privacy_path %> | </span>
    <span><%= link_to "Copyright", copyright_path %> </span>
  </div>
</div>
