
<% @title = "Contact | Addiction Team USA" %>

<br>
<br>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <div class="h15-custom-no-bold center">Contact Us</div>
      <br>
      <p class="large-font">We are happy to answer any questions and would love to hear your feedback as well. Please send us an email and we will get back to you as soon as possible.</p>
    </div>
    <div class="col-lg-12 text-center">
      <i class="fa fa-envelope-o fa-3x"></i>
      <p class="large-font"><a href="mailto:addictionteamusa@gmail.com">addictionteamusa@gmail.com</a></p>
    </div>

</div>