<% @title= "Copyright | Addiction Team USA" %>

<div class="large-container">

  <h1>REPORTING CLAIMS OF COPYRIGHT INFRINGEMENT</h1>
  <p class="large-font">We will respond to notices of alleged copyright infringement that comply with applicable law. If you believe any materials accessible on or from this site, www.addictionteamusa.com (the "Website") infringe your copyright, you may request removal of those materials (or access thereto) from the Website by submitting written notification to our Copyright Agent (designated below). In accordance with the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act (17 U.S.C. ยง 512) ("DMCA"), the written notice (the "DMCA Notice") must include substantially the following:</p>

  <p class="large-font">Your physical or electronic signature.</p>
  <p class="large-font">Identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Website, a representative list of such works.</p>
  <p class="large-font">Identification of the material you believe to be infringing in a sufficiently precise manner to allow us to locate that material.
  <p class="large-font">Adequate information by which we can contact you (including your name, postal address, telephone number and, if available, e-mail address).</p>
  <p class="large-font">A statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent or the law.</p>
  <p class="large-font">A statement that the information in the written notice is accurate.</p>
  <p class="large-font">A statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</p>
  <hr>
  <p class="large-font">Our designated Copyright Agent to receive DMCA Notices is:</p>

  <p class="large-font">Tina Hradek</p>
  <p class="large-font">89 Wellsley Place,</p> 
  <p class="large-font">Brunswick, OH 44212</p>
  <p class="large-font">Tel: +1-803-619-9024</p>
  <p class="large-font">Email: addictionteamusa@gmail.com</p>

  <hr>

  <p class="large-font">If you fail to comply with all of the requirements of Section 512(c)(3) of the DMCA, your DMCA Notice may not be effective.</p> 
  <p class="large-font">Please be aware that if you knowingly materially misrepresent that material or activity on the Website is infringing your copyright, you may be held liable for damages (including costs and attorneys' fees) under Section 512(f) of the DMCA.</p>
</div>
