
<%= simple_form_for [@evaluation, @question], :html=> { id: 'questionForm' } do |f| %> 
  <div class="form-group">
    <div class="row">  
      <div class="col-sm-12">
        <%= f.label :text, "Question" %>
        <%= f.input :text, label: false, class: "form-control" %>
      </div>
    </div>
    <p class="text-center">You will be able to add answer choices on the next page.</p>
    <hr>
  <div class="form-group">
    <%= f.button :submit, 'Create Question', class: "btn-block btn-blue" %>
  </div>
<% end %>