
.navbar-default{
  font-weight: bold;
  background-color: #fff;
  border-bottom-color: rgba(220, 221, 223, 0.84);
  margin-bottom: 0px;
}

.active a{
  background-color: #fff !important;
  color: #036ccb !important;
  pointer-events: none;
  cursor: default;
}

.nav-underline{
  border-bottom-style: solid;
  border-color: #b6b6b6;
  border-width: 1px;
  padding-bottom: 5px;
}

.nav-top-padding{
  padding-top: 5px;
}

.blue-nav{
  color: #036ccb !important;
}

.divider-vertical-rt {
  border-right: 2px solid #a2a5a7;
}

.divider-vertical-lt {
  border-left: 2px solid #a2a5a7;
}
