
<% @title = "Community" %>

<div class="container-fluid wide-margin"> 

  <br>

  <%= render partial: "side_menu" %>   

  <br>
  <br>

  <div class="col-sm-9"> 
    <div class="forum-box">
      <div class="courses-header">Forum</div>
      <hr class="light-smoke no-bottom-margin">
      <%= render @forum_threads %>
    </div>
  </div>

  





  
