
<% @title = "Discussion | Addiction Team USA"%>

<div class="container-fluid wide-margin"> 

  <br>

  <div class="col-sm-3"> 
    <br>
    <br>
    <div class="forum-box">
      <%= render partial: "side_menu" %>  
    </div> 
  </div>

  <br>
  <br>

  <div class="col-sm-9"> 
    <div class="forum-box">
      <div class="courses-header">Discussion</div>
      <hr class="light-smoke no-bottom-margin">
      <%= render @forum_threads %>

      <div class="text-center">
        <nav class="pagination">
          <%= will_paginate @forum_threads, renderer: BootstrapPagination::Rails %>
        </nav>
      </div>
    </div>
  </div>

  





  
