
<% @title = "New Thread" %>

<div class="container-fluid wide-margin"> 

  <br>

  <%= render partial: "side_menu" %>    

  <br>
  <br>

  <div class="col-sm-9">
    
    <div class="forum-box">
      <h1>New Thread</h1>

      <%= render "form" %>
    </div>
  </div>


