
<% @title = "New Thread | Addiction Team USA" %>

<div class="container-fluid wide-margin"> 

  <br>

  <div class="col-sm-3"> 
    <br>
    <br>
    <div class="forum-box">
      <%= render partial: "side_menu" %>      
    </div>
  </div>


  <br>
  <br>

  <div class="col-sm-9">
    
    <div class="forum-box">
      <h1>New Thread</h1>

      <%= render "form" %>
    </div>
  </div>


